<header>
	<button class="btn btn-white btn-share ml-auto mr-3 ml-md-0 mr-md-auto">
	<img src="assets/images/share.svg" alt="share" class="btn-img">
		SHARE
	</button>
	<nav class="collapsible-nav" id="collapsible-nav">
		<a href="index.html" class="nav-link active">HOME</a>
		<a href="resume.html" class="nav-link">RESUME</a>
		<a href="portfolio.html" class="nav-link">PORTFOLIO</a>
		<a href="blog.html" class="nav-link">BLOG</a>
		<a href="contact.html" class="nav-link">CONTACT</a>
	</nav>
	<button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
		data-target="collapsible-nav"><img src="assets/images/hamburger.svg" alt="hamburger"></button>
</header>